<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenxiaofei.coursescheduleserver.auth.mapper.UserMapper">

    <select id="findById" resultType="com.chenxiaofei.coursescheduleserver.auth.entity.User">
        SELECT * FROM `user` WHERE id = #{id}
    </select>

    <select id="findByUsername" resultType="com.chenxiaofei.coursescheduleserver.auth.entity.User">
        SELECT * FROM `user` WHERE username = #{username}
    </select>

    <select id="listAllIds" resultType="long">
        SELECT id FROM `user`
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user`(username, password, nickname, avatar, email, phone, subjects, role)
        VALUES(#{username}, #{password}, #{nickname}, #{avatar}, #{email}, #{phone}, #{subjects}, #{role})
    </insert>

    <update id="updateProfile">
        UPDATE `user` SET nickname = #{nickname}, avatar = #{avatar}, email = #{email},
        phone = #{phone}, subjects = #{subjects} WHERE id = #{id}
    </update>

    <update id="updatePassword">
        UPDATE `user` SET password = #{password} WHERE id = #{id}
    </update>

</mapper>
